
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<div class="container-fluid">
    	<a class="navbar-brand" href="{% url 'main_window' %}">Планнер</a>
    	<div class="collapse navbar-collapse position-relative" id="navbarNav">
    	  	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        		<li class="nav-item">
    	    	  	<a class="nav-link" href="#">Список комнат</a>
    	    	</li>
    	    	<li class="nav-item">
     	    	 	<a class="nav-link" href="#">Создать комнату</a>
    	    	</li>
      		</ul>
			<div class='d-flex'>
				<span class="navbar-text"> 
					{% if request.user.is_authenticated %}
						Добро пожаловать, <a href="{% url 'profile' %}">{{ user.username }}</a> | <a href="{% url 'logout' %}">Logout</a> 
					{% else %}
						<a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a> 
					{% endif %}
				</span>
			</div>
    	</div>
  	</div>
</nav>
