{% extends "base.html" %} {% block title %} {% endblock title %} {% block body %}
  <div class="row justify-content-md-center">
    <div class="col-md-auto text-center">
		На эти даты назначены игры:<br>
		{% for date in dates %}
			<a href='?date_room={{ date }}'>{{ date }}</a>
			<br />
		{% endfor %}
    </div>

    <div class="col text-center">
		<form action="{% url 'list_room' %}" method="GET">
        	<input type="search" name="room_name" class="form-control" placeholder="Найти комнату по названию">
			<button class="btn btn-sm btn-primary btn-follow">Найти</button>
		</form>
		<div class="row">
			{% with rooms.all as rooms %}
				{% for room in rooms %}
				<div class="col-md-4">
					<div class="card">
						Комната: <a href={{room.slug}}>{{ room.name }}</a>
						<br />
						Дата: {{ room.date |date:"d.m.Y H:i"}}			
						<br />
						<div class="card-body">
							Описание:
							<br />{{ room.description }}<br />
							Мастер: {{ room.master.first_name }} {{ room.master.last_name }}<br />
							{% with room.players.all as players %} Игроки:<br />
								{% for p in players %} 
									{{ p.first_name }}<br />
								{% endfor %} 
							{% endwith %}
						</div>
					</div>
					<br />
				</div>
				{% endfor %}
			{% endwith %}
		</div>
	</div>
</div>


{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul class="pagination justify-content-center">
		{% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
		</li>
		{% endif %}

        {% for p in paginator.page_range %}

		{% if page_obj.number == p %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ p }}</span>
        </li>   

		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}

        {% endfor %}

		{% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}

    </ul>
</nav>
{% endif %}
{% endblock body %}
