{% extends "base.html" %}

{% block title %}

{% endblock title %}


{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        <div class="card mb-3">
            <div class="col-12 col-md-offset-5 text-center"> 
                <h2>{{ room.name }}</h2><small class="text-muted"> by {{ room.master.first_name }} {{ room.master.last_name }}</small>
                {% if user == room.master %}
                    
                    <a href="{{room.slug}}/delete"><button class="btn btn-sm btn-danger btn-follow">Удалить</button></a>
                {% endif %}
                <br>{{ room.date |date:"d.m.Y H:i"}}<br>
                <br>
                <div class='row g-0'>
                    <div class='col-md-9 text-center'>
                        {{ room.description }}<br>
                    </div>
                    <div class="col text-center"> 

                        {% with room.players.all as players %}
                            Игроки:<br>
                            {% for p in players %}
                                {{ p.first_name }}<br>
                            {% endfor %}
            
            
                            {% if user != room.master%}
                                {% if user not in players%}
                                    <form method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-primary btn-follow">Войти</button>
                                    </form>
                                {% else %}
                                    <form method="post">
                                        {% csrf_token %} 
                                        <button class="btn btn-sm btn-danger btn-follow">Выйти</button>
                                    </form>            
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    </div>     
                </div>
            </div>
        </div> 
        </div>    
        <div class="col-md-4">
   
            <nav id="navbar-example2" class="card">
                <form method="post" action='{% url "add_message" %}'>
                    {% csrf_token %} 
                    {{ message.content }}

                    <button class="btn btn-sm btn-primary btn-follow">Отправить</button>
                </form> 
            </nav>
            <div class='card' style='overflow: auto; height: 300px;'>
                {% for comment in comments %}
                <div class="card">
                    <p>{{ comment.author.first_name }} {{ comment.author.last_name }}</p>
                    <p>{{ comment.content }}</p>
                    <small class="text-muted">{{ comment.timestamp|date:"d.m.Y H:i" }}</small>
                </div>                    
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock body %}
    