{% extends "base.html" %}

{% block title %}

{% endblock title %}


{% block body %}
<div class="row justify-content-center mb-5 mt-5">
    <div class="col-md-3 col-md-offset-5 text-center"> 
        <div class="card">
                Комната: {{ room.name }}<br>
  <div class="card-body">
        Описание: 
        <br>{{ room.description }}<br>
        Мастер:  {{ room.master.first_name }} {{ room.master.last_name }}<br>
        {% with room.players.all as players %}
        Игроки:<br>
            {% for p in players %}
                {{ p.first_name }}<br>
            {% endfor %}
            
            {% if user not in players %}
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-sm btn-primary btn-follow">Войти</button>
            </form>
            {% else %}
            <form method="post">
                {% csrf_token %} 
                <button class="btn btn-sm btn-danger btn-follow">Выйти</button>
            </form>            
            {% endif %}
            {% endwith %}
        </div></div>
    </div>     </div> 

{% endblock body %}
